@{
    ViewBag.Title = "Home Page";
}



<div class="container" style="text-align:center">
    <img src="img/bg.png" style="width:100%" />
    <button class="btn">AAPLY LOAN</button>

</div>
<div class="container">
    <div class="col-md-4">
        <div class="icon"><img src="img/icon1.png"></div>
        <div class="text">Get a loan instantly at very low interest</div>
    </div>

    <div class="col-md-4">
        <div class="icon"><img src="img/icon2.png"></div>
        <div class="text">Get Maximum Returns than Any Other Banks</div>
    </div>

    <div class="col-md-4">
        <div class="icon"><img src="img/icon3.png"></div>
        <div class="text">Your Dream for your Company will come True here</div>
    </div>
</div>
<div class="container content-text">
    Paisa Deal uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network. Paisa Deal is open-source; it's design is public, nobody owns or controls Paisa Deal and everyone can take part.<br /> Through many of it's unique properties, Paisa Deal allows exciting uses that could not be covered by any previous payment system.
</div>
<div class="container">
    <div class="playlist-heading">FEATURED PLAYLIST</div>


    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-first" style="height:150px;width:100%;text-align:center;">
                <img src="img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">Beautiful airports and subway stations</div>
    </div>


    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-second" style="height:150px;width:100%;text-align:center;">
                <img src="img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">Beautiful airports and subway stations</div>
    </div>


    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-third" style="height:150px;width:100%;text-align:center;">
                <img src="img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">The best surfing moments of 2015</div>
    </div>



    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-fourth" style="height:150px;width:100%;text-align:center;">
                <img src="img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">The cutest things kids do everyday</div>
    </div>



    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-fifth" style="height:150px;width:100%;text-align:center;">
                <img src="img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">The magical world of animals</div>
    </div>



    <div class="col-md-4">
        <a href="#">
            <div class="playlist-image playlist-sixth" style="height:150px;width:100%;text-align:center;">
                <img src="img/play-now.png" style="min-height:49px;margin-top:50px" />
            </div>
        </a>
        <div class="playlist-text" style="margin-top:10px">Travellig tips from expert digital nomads</div>
    </div>


</div>