@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="col-md-12">
        <div class="content-box" style="border:2px solid #e2e2e2; border-radius:3px;background:#f2f2f2"><h1 style="padding-top:30px;color:#ff8080;font-size:28px;font-weight:bold"><span style="color:#2C6EAD">Congratulations</span> You are at strep 1 to your loan!</h1></div>
    </div>
    <div class="logmod">
        <div class="logmod__wrapper">
            <div class="logmod__container">
                <ul class="logmod__tabs" style="padding-bottom:40px">
                    <li data-tabtar="lgm-2"><a href="#">Sign In</a></li>
                    <li data-tabtar="lgm-1"><a href="#">Sign Up</a></li>
                </ul>
                <div class="logmod__tab-wrapper">
                    <div class="logmod__tab lgm-1">

                        <div class="logmod__form">
                            <form accept-charset="utf-8" action="#" class="simform">
                                <div class="sminputs">
                                    <div class="input full">
                                        <div class="col-md-3">  <label class="string optional" for="user-name">Email*</label></div>
                                        <div class="col-md-9">  <input class="string optional" maxlength="255" id="user-email" placeholder="you@example.com" type="email" size="50" /></div>
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input full">
                                        <div class="col-md-3">  <label class="string optional" for="user-pw">Password*</label></div>
                                        <div class="col-md-9">  <input class="string optional" maxlength="255" id="user-pw" placeholder="Password" type="password" size="50" /></div>
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input full">
                                        <div class="col-md-3">  <label class="string optional" for="user-pw-repeat">Password*</label></div>
                                        <div class="col-md-9">  <input class="string optional" maxlength="255" id="user-pw-repeat" placeholder="Repeat Password" type="password" size="50" /></div>
                                    </div>
                                </div>
                                <div class="simform__actions" style="text-align:center">
                                    <div>  <button class="sumbit" name="submit" type="sumbit" value="Sign Up">Sign Up</button></div>
                                    <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Forgot your password?</a></span>
                                </div>



                            </form>
                        </div>

                    </div>
                    <div class="logmod__tab lgm-2">

                        <div class="logmod__form">
                            <form accept-charset="utf-8" action="#" class="simform">
                                <div class="sminputs">
                                    <div class="input full">
                                        <div class="col-md-3">  <label class="string optional" for="user-name">Email*</label></div>
                                        <div class="col-md-9">  <input class="string optional" maxlength="255" id="user-email" placeholder="you@example.com" type="email" size="50" /></div>
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input full">

                                        <div class="col-md-3"> <label class="string optional" for="user-pw">Password *</label></div>
                                        <div class="col-md-9">   <input class="string optional" maxlength="255" id="user-pw" type="password" size="50" /></div>

                                    </div>
                                </div>
                                <div class="simform__actions" style="text-align:center">
                                    <div>  <button class="sumbit" name="submit" type="sumbit" value="Log In">Log In</button></div>
                                    <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Forgot your password?</a></span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
